---
import Base from "../../layouts/Base.astro";
import { SEO } from "astro-seo";
---

<html>
  <head>
    <SEO title="Apply" description="apply for a CSHS membership" />
  </head>
  <body>
    <Base />
  </body>
</html>
