<a
  class="inline-flex h-10 items-center justify-center rounded-md bg-red-600 px-8 text-sm font-medium text-white shadow transition-colors hover:bg-red-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-red-700"
  href="/apply"
  transition:name="apply"
>
  Apply Now
</a>
