<div class="flex flex-col min-h-screen">
  <header
    class="w-full border bg-white sticky top-0 z-50 h-14 flex items-center px-4 md:px-6"
    style=""
  >
    <a class="flex items-center justify-center" href="#">
      Warning! Site is under construction not finished yet!
      <span class="sr-only">Computer Science Honor Society</span>
    </a>
    <nav class="ml-auto flex gap-4 sm:gap-6">
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        href="/#what"
      >
        What do we do?
      </a>
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        href="/#membership"
      >
        Membership
      </a>
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        href="/#initiatives"
      >
        Initiatives
      </a>
      <a
        class="text-sm font-medium hover:underline underline-offset-4"
        href="/#contact"
      >
        Contact
      </a>
    </nav>
  </header>
  <slot />
</div>
